
/* For mobile phones: */
[class*="mobilewidth-"] 
{
    width:50%;
}
#mainNav 
{
	background-color:black;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
#mainNav .navbar-nav > li.nav-item > a.nav-link 
{
	color: white; 
}

@media (min-width:768px) 
{
    /* For desktop: */
	.mobilewidth-25
	{	
		width:25%;
	}
}

#mainNav .navbar-brand 
{
    color:white; 
}

@media (min-width: 992px) 
{
	#mainNav 
	{
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent; 
	}
      #mainNav .navbar-brand 
	  {
        color: rgba(255, 255, 255, 1); 
	  }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover 
		{
          color: white; 
		}
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus 
	  {
        color: rgba(255, 255, 255, 1); 
	  }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover 
		{
          color: white; 
		}
		
	#mainNav.navbar-shrink-2 
	{
		border-color: rgba(34, 34, 34, 0.05);
		background-color: black; 
	}
	#mainNav.navbar-shrink-2 .navbar-brand 
	{ 
		color: white;
	}
	#mainNav.navbar-shrink-2 .navbar-brand:focus
	{
		color: white; 
	}
	#mainNav.navbar-shrink-2 .navbar-brand:hover 
	{
		color: #F05F40; 
	}
	#mainNav.navbar-shrink-2 .navbar-nav > li.nav-item > a.nav-link,
	#mainNav.navbar-shrink-2 .navbar-nav > li.nav-item > a.nav-link:focus 
	{
		color: white; 
	}
	#mainNav.navbar-shrink-2 .navbar-nav > li.nav-item > a.nav-link:hover,
	#mainNav.navbar-shrink-2 .navbar-nav > li.nav-item > a.nav-link:focus:hover 
	{
		color: #F05F40; 
	} 
}

.skill-container {
   background-color: #F05F40 !important;
   position: relative;
   width: 100%;
   padding-top: 53.90%; /* 16:9 Aspect Ratio */
}

.skill-text {
   position:  absolute;
   top: 35%;
   left: 0;   
   right: 0;
   text-align: center;
   font-size: 20px;
   color: white;
}

.skill-padding
{
	padding:6px;
}

.txt-color
{
	color:white;
}
.tml-hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color:white;
	max-width:100%;
}

.footer-hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    border-color:black;
	max-width:100%;
}
.cert-font
{
	font-weight: bold;
}
.footer-font
{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
footer 
{
	color: white; 
}
footer .footer-above 
{
	padding-top: 25px;
	background-color: black; 
}
footer .footer-col 
{
	margin-bottom: 0px; 
}
footer .footer-below 
{
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: black; 
}
.btn-social 
{
	font-size: 20px;
	line-height: 45px;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	border: 2px solid white;
	border-radius: 100%; 
}
.btn-outline 
{
	font-size: 20px;
	margin-top: 15px;
	transition: all 0.3s ease-in-out;
	color: white;
	border: solid 2px white;
	background: transparent; 
}
.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover 
{
	color: #F05F40;
	border: solid 2px white;
	background: white; 
}

.btn-primary 
{
  background-color:#F05F40; 
}
  .btn-primary.focus, .btn-primary:focus 
{
    background-color: #F05F40; 
}

/**#eb3812**/

.btn-primary:hover 
{
    background-color: rgba(240,95,64,0.9); 
}

/*************freelancer*************/
.floating-label-form-group 
{
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0.5em;
	border-bottom: 1px solid black; 
}

.floating-label-form-group input,
.floating-label-form-group textarea 
{
    font-size: 1em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important; 
}
.floating-label-form-group label 
{
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; 
}
.floating-label-form-group:not(:first-child) 
{
    padding-left: 14px;
    border-left: 1px solid #eeeeee; 
}
.floating-label-form-group-with-value label 
{
	top: 0;
	opacity: 1; 
}
.floating-label-form-group-with-focus label 
{
	color: #F05F40; 
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee; }
  
.sans-font
{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.theme-color
{
	background-color: #F05F40;
}

.btn-theme {
  color: #fff;
  background-color:#F05F40;
  border-color:#F05F40;
}

.btn-theme:hover 
{
  color: #fff;
  background-color: rgba(240, 95, 64, 0.8);
  border-color:rgba(240, 95, 64, 0.8);
}

.btn-theme:focus, .btn-theme.focus 
{
	box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5);
}

 .btn-contact 
{
	display: inline-block;
	width: 50px;
	height: auto;
	text-align: left;
}
.contact-detail-group
{
	text-align: left;
	padding-left:50px;
}

.contact-span-left-pad
{
	padding-left:10px;
}

.navbar-dark .navbar-toggler 
{
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 992px) 
{
	.lg-6-h-align
	{
		margin: auto;
		width:350px;
	}
}













